*.tfvars
.terraform
**/*.log
.environment
.vagrant
**/*.hcl
**/*.pem
**/*.attr
**/*.old
**/*.cer
**/*.key
**/*.crt
**/*.csr
**/*.tfstate
**/*.tfstate.backup
**/vault.init
**/exports.source
**/tmp.json
**/.htpasswd
