*.tfvars
.terraform
**/*.log
.environment
**/*.pem
**/*.attr
**/*.old
**/*.cer
**/*.key
**/*.crt
**/*.csr
**/*.tfstate
**/*.tfstate.backup
.vagrant
/vagrant_scripts/vault_secrets.txt
/vagrant_scripts/setupExports.sh