[Unit]
Description=Fabio
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
ExecStart=/usr/local/bin/fabio -cfg /etc/fabio/fabio.properties
SuccessExitStatus=0 INT

[Install]
WantedBy=multi-user.target
